@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="accordion"  style="margin-top:40px;">
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Link Collasp
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="row Divshiping clear dtpad" style="padding-top:50px; padding-bottom:20px; border:none !important;">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-md-6 ">
                        <div class="col-md-5 col-sm-4 col-xs-4 text-right padminix padRm210"><label><b>Name  : <br class="visible-lg visible-md" />ชื่อ-สกุล</b></label></div>
                        <div class="col-md-6 col-sm-8 col-xs-8 text-left padminix paddL10">
                            <div class="col-md-12 col-xs-12 text-left padminix padR710" style="padding-left:0px !important;">
                                <input type="text" id="FT_Name" class="form-control Contentapprove wid100 detoa-require-input" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="col-md-3 col-sm-4 col-xs-4 text-right padminix padRm210"><label><b>ID Card  : <br class="visible-lg visible-md" />เลชบัตรประชาชน</b></label></div>
                        <div class="col-md-6 col-sm-8 col-xs-8 text-left padminix paddL10">
                            <div class="col-md-12 col-xs-12 text-left padminix padR710" style="padding-left:0px !important;">
                                <input type="text" id="FT_IDC" class="form-control Contentapprove wid100 detoa-require-input" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-md-6 ">
                        <div class="col-md-5 col-sm-4 col-xs-4 text-right padminix padRm210"><label><b>E-Mail  : <br class="visible-lg visible-md" />อีเมลล์</b></label></div>
                        <div class="col-md-6 col-sm-8 col-xs-8 text-left padminix paddL10">
                            <div class="col-md-12 col-xs-12 text-left padminix padR710" style="padding-left:0px !important;">
                                <input type="text" id="FI_Mail" class="form-control Contentapprove wid100 detoa-require-input" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="col-md-3 col-sm-4 col-xs-4 text-right padminix padRm210"><label><b>Status : <br class="visible-lg visible-md" />สถานะ</b></label></div>
                        <div class="col-md-6 col-sm-8 col-xs-8 text-left padminix paddL10">
                            <div class="col-md-12 col-xs-12 text-left padminix padR710" style="padding-left:0px !important;">
                                <select class="form-control form-control Contentapprove wid100 detoa-require-input" id="FT_ddlSta" style="padding:2px 12px !important;">
                                    <option value="" selected>All : ทั้งหมด</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>